@font-face {
    font-family: "Kazimir Bold Italic" ;
    src: url(../fonts/Kazimir\ Bold\ Italic.otf);
    font-style: bold italic;
    font-weight: bold;
}

@font-face {
    font-family: "Kazimir Bold" ;
    src: url(../fonts/Kazimir\ Bold.otf);
    font-style: bold;
    font-weight: bold;
}

@font-face {
    font-family: "Kazimir" ;
    src: url(../fonts/Kazimir.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Kazimir Italic" ;
    src: url(../fonts/Kazimir\ Italic.otf);
    font-weight: normal;
}

@font-face {
    font-family: "Kazimir Light" ;
    src: url(../fonts/Kazimir\ Light.otf);
    font-weight: light;
}

@font-face {
    font-family: "Kazimir Light Italic" ;
    src: url(../fonts/Kazimir\ Light\ Italic.otf);
    font-weight: light;
}